@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

html {
    font-size: 62.5%; /*1rem = 10px 10px/16px = 62.5% */
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #ffffff;
    height: 80px;
    
}

nav {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.logobox {
    width: 100px;
    float: inline-end;
}

.logobox img {
    width:100px;
    float: inline-end; 
    margin-left: 5rem;
}

.user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 5rem;
    margin-top: 1em; 
}

.sidebar {
    position: absolute;
    background-color: white;
    width: 20%;
    height: 100vh;
    margin-top:0rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  
    display: inline-block;
}

.side-nav {
    margin: 0;
    padding: 0;
    width: 200px;
    font-size: 1.4rem;
    display: block;
    margin-top: 3.5rem;
}

.side-nav__item {
    position: relative;
    top: 3rem;
    left: 3rem;
    width: 200px;
    margin: 15px;
    background-color: white;
}


.content {
    display: inline-block;
    margin-left: 40rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  
    width: 80rem;
}

.main {
    margin-left: 3rem;
}

textarea, select {
    width: 70%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
    resize: none; 
    margin: 8px 8px;
    margin-bottom: 2.5rem;
    outline: none;
    display: block;
}

button[type=submit] {
    width: 10%;
    padding: 10px 10px;
    margin: 8px ;
    border-radius: 5px;
    border: 0;
    position: relative;
    outline: none;
    background-color:#6E34C1 ;
    cursor: pointer;
}

button[type=button] {
    width: 10%;
    padding: 10px 10px;
    margin: 8px ;
    border-radius: 5px;
    border: 0;
    position: relative;
    outline: none;
    cursor: pointer;
    border: 1px solid #ccc;
}

button[type=submit]:hover {
    background-color: #8D66F2;

}

.help {
    float: right;
    margin-right: 5rem;
}

a {
    text-decoration: none; 
}